DEVICE={{ vm_mgmt_interface }}
TYPE=Ethernet
BOOTPROTO=none
ONBOOT=yes
IPV6INIT=no
IPADDR={{ virtual_k8s_nodes.worker1.vm_management_ip }}
NETMASK= {{ vm_management_netmask }}
GATEWAY={{ vm_gateway }}
PEERDNS=yes
DNS1={{ vm_dns_server }}
