127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ virtual_k8s_nodes.master1.vm_management_ip }} {{ virtual_k8s_nodes.master1.vm_hostname }}
{{ virtual_k8s_nodes.worker1.vm_management_ip }} {{ virtual_k8s_nodes.worker1.vm_hostname }}
{{ virtual_k8s_nodes.worker2.vm_management_ip }} {{ virtual_k8s_nodes.worker2.vm_hostname }} 
